 .contato-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: #1e879a;
}

.contato{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}


.contato-info h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-size: 2em;
    color: #FFFFFF;
    padding-bottom: 15px;
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    color: #FFFFFF;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 200;
    font-size: 1.2em;
}

.entrada{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form div + div {
    margin-top: 1em;
}

label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    
    text-align: right;
}

input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    color: #FFFFFF;
    background-color: transparent;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-bottom: 1px solid #aeaeae;
}

input:focus, textarea:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 5em;

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
}

.button-contato {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-size: 1em;
    color: #FFFFFF;
    height: 8vh;
    width: 30vw;
    background-color: #ffffff65;
    border: none;
    cursor: pointer;
}

.logo-taurus img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.contato-info{
    display: flex;
    flex-direction: column;
}

.dados{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dados-contato{
    display: flex;
}

.dados-contato{
    display: flex;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    color: #FFFFFF;
    padding-top: 8px;
}

.numtaurus{
    margin-left: 15px;
}
.emailtaurus{
    margin-left: 15px;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    color: #FFFFFF;
    background-color: black;
    width: 100%;
    height: 10vh;
}